@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  #101010;
  --foreground: #FFFEF0;
  --primary-color: #FFFEF0;
  --secondary-color: #101010;
  --tertiary-color: #E7FFB7;
  --accent-color: #D877E9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --foreground: #FFFEF0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
