.follower {
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: var(--accent-color);
    opacity: 0.9;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
}